html {
    background-color: rgb(240,240,240);
}

body {
    /* 灰色の中に横幅を削って表示するのはよく見るデザイン */
    margin: 0 150 0 150;
    background-color: white;
}

h1 {
    /* タイトルをロゴっぽく表示する．Web フォントを使う */
    margin: 0 0 15 0;
    padding: 20 20 20 20;
    color: red;
    font-family: 'Lobster';
    font-size: 48px;
}

a {
    /* 答えを黒で隠すのに必要 */
    color: black;
    text-decoration:underline;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-align: center;
}

ul {
    list-style:none;
    padding-left: 0;
}

li {
    float:left;
}

input[type="button"] {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 背景色を濃い青色に指定 */
    background-color: #248;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

input[type="button"]:hover {
    /* 背景色を明るい青色に指定 */
    background-color: #24d;

    /* 文字色を白色に指定 */
    color: #fff;
}

#hint1 {
    font-size: 30px;
    font-family: "snas-serif";
}

#hint2 {
    font-size: 30px;
    font-family: "snas-serif";
}

#hint3 {
    font-size: 30px;
    font-family: "snas-serif";
}

#answer {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
}

/* 問題文の表示のデザイン */
#description {
    border: inset 5px #ff0000;
    margin: 100 20 0 20;
    width: 70%;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 20 20 20 20;
}
